{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block body_inner %}
<div class="large-12 columns">
    <div id="post-listings">
        {% for article in articles %}
            <div class="large-4 columns">
                <article id="{{ article.id }}">
                    <div class="post">
                    <header>
                        <div class="post-header">
                            <a href="{{ path('BloggerBlog_showCategoriedPost', {'cat': article.category|trim}) }}">
                                <h2>{{ article.category }}</h2>
                            </a>
                        </div>
                    </header>

                    <section>
                        <div class="post-content">
                            <a href="{{ path('BloggerBlog_show', {id: article.id, 'slug': article.slug}) }}">{{ article.title }}</a>
                        </div>
                    </section>

                    <footer>
                        <div class="post-footer">
                            <span class="post-date">Posted: {{ article.createdAt|date('h:iA') }}</span>
                        </div>
                    </footer>
                    </div>
                </article>
            </div>
        {% endfor  %}
    </div>
</div>
{% endblock %}